@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 80px;
  width: 100%;
  background-color: black;
}

header .container {
  height: 100%;
}

header .container .wrapHeaderContent {
  display: flex;
  align-items: center;
  height: 100%;
}

header .container .wrapHeaderContent .header_left {
  width: 30%;
}

header .container .wrapHeaderContent .header_left h2 {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

header .container .wrapHeaderContent .header_right {
  padding-left: 20px;
  width: 70%;
}

header .container .wrapHeaderContent .header_right .navMenu {
  text-align: right;
}

header .container .wrapHeaderContent .header_right .navMenu ul li {
  color: #fff;
  display: inline-block;
}

header .container .wrapHeaderContent .header_right .navMenu ul li a {
  color: #fff;
  text-decoration: none;
}

header .container .wrapHeaderContent .header_right .navMenu ul li a:hover {
  color: red;
}

.wrapAll {
  height: 1000px;
}

