@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

header {
  height: 80px;
  width: 100%;
  background-color: black;
}

header .container {
  height: 100%;
}

header .container .wrapHeaderContent {
  display: flex;
  align-items: center;
  height: 100%;
}

header .container .wrapHeaderContent .header_left {
  width: 30%;
}

header .container .wrapHeaderContent .header_left h2 {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

header .container .wrapHeaderContent .header_right {
  padding-left: 20px;
  width: 70%;
}

header .container .wrapHeaderContent .header_right .navMenu {
  text-align: right;
}

header .container .wrapHeaderContent .header_right .navMenu ul .page_item {
  color: #fff;
  display: inline-block;
  margin-right: 15px;
}

header .container .wrapHeaderContent .header_right .navMenu ul .page_item a {
  color: #fff;
  text-decoration: none;
}

header .container .wrapHeaderContent .header_right .navMenu ul .page_item a:hover {
  color: red;
}

main .container {
  display: flex;
  padding-top: 50px;
}

main .container .wrapPost {
  width: 70%;
}

main .container .wrapPost .post {
  padding-top: 30px;
  margin-right: 10px;
  border-bottom: 1px solid lightgrey;
}

main .container .wrapPost .post a {
  color: #000;
  text-decoration: none;
}

main .container .wrapPost .post a .title-article {
  font-size: 30px;
  text-transform: uppercase;
}

main .container .wrapPost .post a :hover {
  color: red;
  text-decoration: underline;
}

main .container .wrapPost .post .date {
  padding-bottom: 20px;
}

main .container .wrapPost .post .text-article {
  padding-top: 30px;
}

.item {
  position: relative;
}

.item .item-content {
  position: absolute;
  bottom: 50px;
  left: 20px;
  color: #fff;
}

.item .item-content .title-slider {
  font-size: 50px;
  text-transform: uppercase;
}

.item .item-content .text-slider {
  font-size: 20px;
}

.sidebar {
  width: 30%;
  border-radius: 5px;
  border: 1px solid grey;
}

.sidebar .widget {
  padding-top: 20px;
  padding-left: 20px;
}

.sidebar .widget ul {
  padding-top: 10px;
  list-style-type: none;
}

.sidebar .widget ul li a {
  color: #000;
  text-decoration: none;
}

.sidebar .widget ul li a:hover {
  color: red;
  text-decoration: underline;
}

