header {
  height: 80px;
  width: 100%;
  background-color: black;
 .container {
   height: 100%;
   .wrapHeaderContent {
     height: 100%;
     align-items: center;
     h2 {
       color:red;
       text-transform: uppercase;
       font-weight: bold;
     }
     .column {
       .navMenu {
         ul {
           li {
             color: #fff;
             display: inline-block;
             & a {
               color: #fff;
             }
             & a:hover {
               color: red;
             }
           }
         }
       }
     }
   }
 }
}
