header {
  height: 80px;
  width: 100%;
  background-color: black;
 .container {
   height: 100%;
   .wrapHeaderContent {
     display: flex;
     align-items: center;
     height: 100%;
     .header_left {
       width: 30%;
       h2 {
         color:red;
         text-transform: uppercase;
         font-weight: bold;
       }
     }
     .header_right {
       padding-left: 20px;
       width: 70%;
       .navMenu {
         text-align: right;
         ul {
           li {
             color: #fff;
             display: inline-block;
             & a {
               color: #fff;
               text-decoration: none;
             }
             & a:hover {
               color: red;
             }
           }
         }
       }
     }
   }
 }
}
