.item {
  position: relative;
  .item-content {
    position: absolute;
    bottom: 50px;
    left: 20px;
    color: #fff;
    .title-slider {
      font-size: 50px;
      text-transform: uppercase;
    }
    .text-slider {
      font-size: 20px;
    }

  }

}
